<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSContactsUsageDescription</key>
    <string>Phone contacts access</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Microphone access</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Мы используем вашу геолокацию даже в фоне ...</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Приложению нужен Bluetooth для подключения к устройствам.</string>
</dict>
</plist>
